<main class="d-flex" style="background-image:url('assets/img/grass.png');">
    <div class="full-width">
        <div class="col-lg-12 text-center">
            <div style="display: inline-block;"><img src="assets/img/logo.png" class="section-header-logo" alt="WeedsAway logo" /></div>
            <div style="display: inline-block;">Weeds Away</div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="offset-lg-4 col-lg-4">
                    <div class="row">
                        <div class="contact-info">
                        
                            <div class="row mt-3 mx-4">
                                <div class="col-12">
                                <label class="order-form-label" style="font-weight: bold;">Address</label>
                                </div>
                                <div class="col-12">
                                ATTN: Weeds Away
                                </div>
                                <div class="col-12 mt-2">
                                123 Main St
                                </div>
                                <div class="col-12 mt-2">
                                Beverly Hills, CA 90210
                                </div>
                            </div>
                    
                            <div class="row mt-3 mx-4">
                                <div class="col-12">
                                <label class="order-form-label" style="font-weight: bold;">Phone</label>
                                </div>
                                <div class="col-12">
                                +1 (987) 654-3210
                                </div>
                            </div>
                    
                            <div class="row mt-3 mx-4">
                                <div class="col-12">
                                <label class="order-form-label" style="font-weight: bold;">Email</label>
                                </div>
                                <div class="col-12">
                                weeds@away.com
                                </div>
                            </div>
                    
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                <a class="btn btn-primary btn-xl js-scroll-trigger" href="mailto:weeds@away.com">Email</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>