<main class="d-flex" style="background-image:url('assets/img/grass.jpg');">
    <div class="container my-auto text-center">
        <div class="logo">
            <img src="assets/img/logo.png" />
        </div>
        <h1 class="mb-1">Weeds Away</h1>
        <h3 class="mb-5"><em><strong>We make home gardening easy and efficient by helping you maximize your available space with the plants you want, when you want them to grow.&nbsp;Keep the weeds at bay with Weeds Away!</strong></em></h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" routerLink='start'>Get Started</a>
        <div class="overlay"></div>
    </div>
</main>