<a class="menu-toggle rounded"><i class="fa fa-bars"></i></a>
<nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
    <div class="container"><button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand" role="presentation"><a class="nav-link active js-scroll-trigger" href="#page-top">Weeds Away</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink=''>About</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink='start'>Get Started</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink='contact'>Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="text-center fixed-bottom">
  <div class="container">
      <p class="mb-0 small">Copyright &nbsp;© Weeds Away 2020</p>
  </div>
  <a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
</footer>